<section class="main">
    <app-header-nav></app-header-nav>
    <main class="contato">
        <section class="left">
            <h2>Rafael Silva de Lima</h2>
            <h2>(012)98224-1144</h2>
            <h2 class="email">rafaelsilvadelimaoficial@gmail.com</h2>
            <section class="social">
                <a href=""><img src="assets\img\linkedin.png" alt="LinkedIn"></a>
                <a href=""><img src="assets\img\github.png" alt="GitHub"></a>
                <a href=""><img src="assets\img\instagram.png" alt="Instagram"></a>
            </section>
        </section>
        <section class="right">
            <img src="assets\img\perfil_code.png" alt="foto de perfil">
        </section>
    </main>
</section>
<app-footer></app-footer>