.main {
    background-image: url(src\assets\img\background_quadrinho.png);
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5vh;
}

.contato {
    background-color: #1F1D2B;
    border-radius: 10px;
    width: 50vw;
    height: auto;
    margin-top: 5vh;
    display: flex;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 4vh 2vw;
    border-radius: 10px;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4vh 2vw;
}

.right img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    color: #91879F;
    font-size: 3vh;
    line-height: 4vh;
}

a img {
    width: 20%;
}

a{
    margin-right: 1vw;
}
.social {
    width: 90%;
    margin-top: 10vh;
}

@media screen and (max-width: 960px) {
    .contato {
        width: 90vw;
        margin-top: 5vh;
        display: flex;
    }

    .right {
    }

    .left {
        width: 100%;
    }

    .email {
        font-size: 1.8vh;
    }

    h2 {
        font-size: vh;
    }

    .social {
        width: 50vw;
        margin-top: 2vh;
    }
    .social img {
        padding-right: 1vw;
    }
    .main {
        height: 85vh;
    }
}

@media screen and (max-width: 350px) {
    .right {
        display: none;
    }

    .left {
        width: 100%;
    }

    .left h2 {
        width: 100%;
        text-align: center;
    }

    .social {
        width: 100%;
        text-align: center;
    }

}

