<div>
    <section class='galeria'>
        <input type="radio" id="um" value="1" name="trator" checked='checked' />
        <input type="radio" id="dois" value="2" name="trator" />
        <input type="radio" id="tres" value="3" name="trator" />
        <article class='card una'>
            <h2 class='entypo-tag'>Tears of the Kingdom</h2>
            <label for='dois' class='entypo-left-bold outra'><</label>
            <label for='tres' class='entypo-right-bold outra'>></label>
            <label for='um' class='entypo-arrows-ccw afim'></label>
        </article>
        <article class='card dos'>
            <h2 class='entypo-feather'>Antes: "Anime é coisa de criança"... Depois: T.T</h2>
            <label for='tres' class='entypo-left-bold outra'><</label>
            <label for='um' class='entypo-right-bold outra'>></label>
            <label for='dois' class='entypo-arrows-ccw afim'></label>
        </article>
        <article class='card tres'>
            <h2 class='entypo-address'>Temporado Final parte 4.164</h2>
            <label for='um' class='entypo-left-bold outra'><</label>
            <label for='dois' class='entypo-right-bold outra'>></label>
            <label for='tres' class='entypo-arrows-ccw afim'></label>
        </article>
    </section>
</div>