<main>
    <section class='galeria'>
        <input type="radio" id="um" value="1" name="trator" checked='checked' />
        <input type="radio" id="dois" value="2" name="trator" />
        <input type="radio" id="tres" value="3" name="trator" />
        <article class='card um'>
            <h2>Tears of the Kingdom</h2>
            <label for='dois' class='entypo-left-bold outra'><</label>
            <label for='tres' class='entypo-right-bold outra'>></label>
            <label for='um' class='entypo-arrows-ccw afim'></label>
        </article>
        <article class='card dois'>
            <h2>Antes: "Anime é coisa de criança"... Depois: T.T</h2>
            <label for='tres' class='entypo-left-bold outra'><</label>
            <label for='um' class='entypo-right-bold outra'>></label>
            <label for='dois' class='entypo-arrows-ccw afim'></label>
        </article>
        <article class='card tres'>
            <h2>Temporado Final parte 4.164</h2>
            <label for='um' class='entypo-left-bold outra'><</label>
            <label for='dois' class='entypo-right-bold outra'>></label>
            <label for='tres' class='entypo-arrows-ccw afim'></label>
        </article>
    </section>
</main>