<section class="main">
    <section class="conteiner">
        <app-header-nav></app-header-nav>
        <app-carrocel></app-carrocel>
        <div class="blog">
            <h1 class="tituloPage">Nerd Não Reclama</h1>
            <div class="conteudo">
                <img src="assets\img\naruto-shippuden-episodio-jiraiya-morre-768x433.jpg">
                <h1> Episódio 133 - Onde o HOMEM chora e a mãe não vê :(</h1>
                <p>
                    Jiraiya morre durante o arco de Pain em Naruto Shippuden. O Sannin parte para uma missão de
                    infiltração na Vila da Chuva para obter mais informações sobre a Akatsuki, e acaba encontrando o
                    destino dele lá.
                </p>
            </div>
            <br>
            <div class="conteudo">
                <img src="assets\img\attack_on_titan_especial.png">
                <h1> História sem fim...  >.<</h1>
                <p>
                    A última temporada de Attack on Titan ganhou novidades nesta terça-feira (17). A aguardada parte 3
                    será dividida em duas metades, com a primeira programada para estrear em 4 de março.
                </p>
            </div>
            <div class="conteudo">
                <img src="assets\img\zelda2.png">
                <h1> Pegue todo o meu dinheiro O.O </h1>
                <p>
                    Um novo trailer de The Legend of Zelda: Tears of the Kingdom foi divulgado durante o Nintendo Direct da última quarta-feira (8) e mostra um pouco mais do que os jogadores vão encontrar nesse retorno a Hyrule. E além do novo visual do herói Link e das possibilidades de gameplay que o jogo oferece, o novo vídeo dá uma boa contextualizada na história e na ameaça vai colocar o reino em risco.
                </p>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</section>