<section class="main">
    <section class="conteiner">
        <nav>
            <a href="#">Blog</a>
            <a class="hiddenM1" href="#">Notícias</a>
            <a href="https://github.com/rafaelsilvadelima?tab=repositories">Repositório</a>
            <a href="https://rafaelsilvadelima.github.io/portifolio_rafael_silva_de_lima/">Portefolio</a>
            <a class="hiddenM2" href="#">Contato</a>
            <div class="animation start-home"></div>
        </nav>

        <div class="blog">
            <h1 class="tituloPage">Nerd Não Reclama :P</h1>
            <div class="conteudo">
                <img src="assets\img\naruto-shippuden-episodio-jiraiya-morre-768x433.jpg">
                <h1> Episódio 133 - Onde pai chora e a mãe não vê T.T </h1>
                <p>
                    Jiraiya morre durante o arco de Pain em Naruto Shippuden. O Sannin parte para uma missão de
                    infiltração na Vila da Chuva para obter mais informações sobre a Akatsuki, e acaba encontrando o
                    destino dele lá.
                </p>
                <!-- <a href="#" class="continue-lendo">Read more →</a> -->
            </div>
            <br>
            <div class="conteudo">
                <img src="assets\img\attack_on_titan_especial.png">
                <h1> História sem fim... </h1>
                <p>
                    A última temporada de Attack on Titan ganhou novidades nesta terça-feira (17). A aguardada parte 3 será dividida em duas metades, com a primeira programada para estrear em 4 de março.
                </p>
                <a href="#" class="continue-lendo">Read more →</a>
            </div>
        </div>
    </section>
    <footer>
        <h2>Developed by Rafael Silva de Lima</h2>
    </footer>
</section>